//COLORES
$negro: #0D0C0F;
$blanco: #fff;
$gris_claro:#3d667c;
$gris_medio:#486F83;
$gris_oscuro:#2E3A38;


//FUENTE
$font-base:"lato", sans-serif;
$font-size:62.5%;//1 rem = 10px
$font-body:1.6rem;
$weight: 400;
$body-height:1.7;